<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a routerLink="/" class="my-0 mr-md-auto font-weight-normal">
        <h5 class="my-0 mr-md-auto font-weight-normal">Zigma Insurance</h5>
    </a>
     <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/customer" routerLinkActive="active-link">Customer</a>
        <a class="p-2 text-dark" routerLink="/provider" routerLinkActive="active-link">Hospital</a>
        <a class="p-2 text-dark" routerLink="/insurance" routerLinkActive="active-link">Insurance</a>
        <a class="p-2 text-dark" routerLink="/blocks" routerLinkActive="active-link">Blocks</a>
    </nav> 
</div> -->