<div class="dialog-title">Details</div>
<div class="dialog-content">
    <div class="card pat_details_card">
        <table class="table table-borderless">
            <thead>
                <!--<th>ICD</th>-->
                <th>Provider</th>
                <th>Procedure</th>

            </thead>
            <tbody>
                <!--<td><input type="text" class="form-control pat_input" placeholder value required #ICD></td>-->
                <!--<td><input type="text" class="form-control pat_input" placeholder value required #procedure></td>-->
                <td>
                    <!--<select class="form-control pat_input provider_drop_down">
                            <option value="providers" (click)="providerSelected('provider')">providers</option>
                            <option *ngFor="let data of providerList" value = {{data}} placeholder value required #provider (click)="providerSelected(provider.value)" >{{data}}</option>
                        </select>-->
                    <mat-select placeholder="Select" panelClass="example-panel">
                        <mat-option *ngFor="let data of providerList;let i = index" value={{data.providerName}}
                            placeholder value required #provider (click)="providerSelected(i)">{{data.providerName}}</mat-option>
                    </mat-select>
                </td>
                <td>
                    <!--<select class="form-control pat_input">
                            <option value="prcedures" >procedures</option>
                            <option *ngFor="let data of procedureList" value = {{data}} placeholder value required #procedure (click)="procedureSelected(procedure.value)">{{data}}</option>
                        </select>-->
                    <mat-select placeholder="Select" panelClass="example-panel">
                        <mat-option *ngFor="let data of procedureList;let i =index" value={{data.serviceTitle}}
                            placeholder value required #procedure (click)="procedureSelected(i)">{{data.serviceTitle}}</mat-option>
                    </mat-select>
                </td>

            </tbody>
        </table>
        <table class="table table-borderless">
            <thead>

                <th>From</th>
                <th>To</th>
            </thead>
            <tbody>

                <td><input type="date" class="form-control pat_input" placeholder value required #fromDate></td>
                <td><input type="date" class="form-control pat_input" placeholder value required #toDate></td>
            </tbody>
        </table>
    </div>
    <input type="submit" style="margin-top: 10px;" value="Add Procedure" class="btn btn-primary get_details" (click)="activeClaim(fromDate.value,toDate.value);">
</div>